html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
  
  }


main {
    width: 100%;
}


#education1 h1 {
    font-family: Garamond, serif;
    font-size: 70px;
    align-self: center;
    margin-left: 120px;
    color: white;
  }

.emphasized { font-style: italic; }



education {
    background-color: rgb(192, 188, 188);
    display: flex;
    flex-wrap: wrap;
}

#education1 {
    display: flex;
}

achievements {
    background-color: rgb(70, 68, 68);
    display: flex;
    flex-wrap: wrap;
}

#experience1 {
    color: white;
    align-self: top;
    display: flex;
    width: 100%;
    justify-content: space-around;
    
  }

experience {
    background-color: rgb(70, 68, 68);
    display: flex;
    flex-wrap: wrap;
}

#experience1 h1{
    font-size: 50px;
}

resume {
    height: 100vh;
}

#contactme {
    display: flex;
}
resume {
    background-color: rgb(35, 34, 34);
    display: flex;
    flex-wrap: wrap;
}

  header {
    background-color: rgb(177, 176, 176);
    padding: 20px;
    text-align: center;
  }
  h1 {
    margin: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 124, 124);
    color: white;
    padding: 20px;
    font-size: 19.35px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    color: lightgray;
  }
  main {
    background-color: rgb(35, 34, 34);
    display: flex;
    flex-wrap: wrap;
  }
  section {
    width: 50%;
    padding: 20px;
  }

  #about {
    color: white;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 80px;
    
  }

  #thankyou {
    color: white;
    align-self: center;
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin-bottom: 190px;
  }

  #thankyou h1 {
    font-family: Garamond, serif;
    font-size: 70px;
    align-self: center;
    margin-left: 120px;
  }
  

  #thankyou p {
    font-size: 30px;
    align-self: center;
  }
  
  #about h1 {
    font-size: 70px;
    align-self: center;
    margin-right: 400px;
  }

  #about h2 {
    font-size: 40px;
    align-self: center;
    margin-right: 400px;
    color: rgb(200, 194, 194);
  }
  
  #about p {
    font-size: 20px;
    align-self: center;
    
    color: rgb(235, 232, 232);
  }


  #about h3 {
    font-size: 25px;
    color: white;
    align-self: center;
    display: flex;
    width: 100%;
    margin-left: 220px;
  }

   /* #introduction {
    color: white;
    margin-left: 200px;
  } */

  /* #introduction h2 {
    font-size: 30px;
  }

  #introduction p {
    font-size: 25px;
  } */

  section h2 {
    margin-top: 0.5;
  }

  #intro {
      align-self: center;
  }

  @media (max-width: 600px) {
    section {
      width: 100%;
    }
  }

/* button a */
  .button {
    margin-top: 19px;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.15rem;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 183, 218);
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e8d7e8;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }



  /* button c  */

  body{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }
  
  .wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 15px;
  }
  
  .link_wrapper{
    position: relative;
  }
  
  c{
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: rgb(59, 58, 58);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid rgb(255, 255, 255);
    transition: all .35s;
    margin-left: 130px;
    margin-top: 40px;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #318dd8;
    transition: all .35s;
  }
  
  c:hover{
    width: 200px;
    border: 3px solid #65e1fd;
    background: transparent;
    color: #48f5f2;
  }
  
  c:hover + .icon{
    border: 3px solid #2d9dbd;
    right: -25%;
  }


  /* Home button */

  
  .btn {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: rgb(93, 91, 91); /* White text */
    padding: 1px 13px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 18px;
    height: 35px;
    border-radius: 10rem;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(188, 184, 184);
    border-radius: 10rem;
  }

  .btnback {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: rgb(93, 91, 91); /* White text */
    padding: 1px 13px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 18px;
    height: 35px;
    
    border-radius: 10rem;
  }
  
  /* Darker background on mouse-over */
  .btnback:hover {
    background-color: rgb(188, 184, 184);
    border-radius: 10rem;
  }


  .btnicons {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: rgb(93, 91, 91); /* White text */
    padding: 1px 5px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 2rem;
  }
  
  /* Darker background on mouse-over */
  .btnicons:hover {
    background-color: rgb(228, 190, 224);
    border-radius: 2rem;
  }


  /* flip box code */


  #university {
    font-family: Garamond, serif;
    border-width:3px; 
    border-style:solid; 
    border-color:#9e9999; 
    /* padding: 10px; */
    border-radius: 15px;
    color: white;
}



  .flip-box {
    background-color: transparent;
    width: 400px;
    height: 490px;
    perspective: 1000px;
    position: relative;
    margin-bottom: 40px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 254, 254);
    border-radius: 18px;
  }
  
  .flip-box-back {
    background-color: rgb(170, 167, 170);
    color: rgb(48, 46, 46);
    transform: rotateY(180deg);
    border-radius: 15px;
  }
