html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }


resume {
    background-color: rgb(35, 34, 34);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

  header {
    background-color: rgb(177, 176, 176);
    padding: 20px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(126, 124, 124);
    color: white;
    padding: 20px;
    font-size: 19.5px;
    
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    color: lightgray;
  }
  main {
    background-color: rgb(35, 34, 34);
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    overflow: auto;
  }
  section {
    width: 100vw;
    padding: 20px;
    margin: 0;
    
  }


#profilePic {
  width: 40vw;
}

#about {
  color: white;
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: space-around;    
}

#intro {
  width: 60vw;
  margin-top: 20px; 
}

#intro h1 {
 font-family: didot, serif ;
 font-size: 70px
}

#aboutme {
  width: 40vw;
}

#aboutme h2 {
  font-size: 40px;
  align-self: center;
  color: rgb(200, 194, 194);
}

#aboutme p {
  font-size: 20px;
  align-self: center;
  color: rgb(235, 232, 232);
}

#aboutme h3 {
  font-size: 25px;
  color: white;
  align-self: center;
  display: flex;
  width: 100%;
  margin-left: 220px;
}

#contactme {
  display: flex;
  width: 100%;
}


#thankyou {
  color: white;
  align-self: center;
  width: 100%;
  justify-content: space-around;
  display: flex;
  margin-bottom: 190px;
}

#thankyou h1 {
  font-family: Garamond, serif;
  font-size: 70px;
  align-self: center;
  margin-left: 120px;
}


#thankyou p {
  font-size: 30px;
  align-self: center;
}

#about h1 {
  align-self: center;

}


#education-header {
  margin:0 ;
  margin-top: 0;
  padding: 0 ;
  display: flex;
  height: 20vh;
}

#education-content {
  height: 80vh;
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

#education-header h1 {
    font-family: Garamond, serif;
    font-size: 5vw;
    text-align: center;
    color: white;
    margin-left: 30%;
  }

#education-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}

#education-left {
  width: 30vw;
  text-align: center;
  align-self: center;
}

#education-middle {
  width: 30vw;
  text-align: center;
  align-self: center;
}

#education-right {
  width: 30vw;
  text-align: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
}

.emphasized { font-style: italic; }


/* experience  */

#experience-header {
  margin:0 ;
  margin-top: 0;
  top: 0;
  display: flex;
  height: 20vh;
}

#experience-header h1 {
  font-family: Garamond, serif;
  font-size: 5vw;
  color: white;
  text-align: center;
  margin-left: 30%;
}

#experience-content {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1vw;
  height: 80vh;
}

#experience-content p {
  font-size: 1.5vw;
}

#experience-content h2 {
  font-size: 1.7vw;
}

#experience-content h3 {
  font-size: 1.3vw;
}

#experience-left {
  width: 45vw;
  text-align: center;
  align-self: center;
}

#experience-right {
  
  width: 45vw;
  text-align: center;
  align-self: center;
}

achievements {
    background-color: rgb(70, 68, 68);
    display: flex;
    flex-wrap: wrap;
}

#experience1 {
    color: white;
    align-self: top;
    display: flex;
    width: 100%;
    justify-content: space-around;
    
  }

experience {
    background-color: rgb(70, 68, 68);
    display: flex;
    flex-wrap: wrap;
}

#experience1 h1{
    font-size: 50px;
}

resume {
    height: 100vh;
}

  

  .bolded { font-weight: bold; }
  .underlined {text-decoration: underline;}
  .boldunderline { font-weight: bold; text-decoration: underline;}

   /* #introduction {
    color: white;
    margin-left: 200px;
  } */

  /* #introduction h2 {
    font-size: 30px;
  }

  #introduction p {
    font-size: 25px;
  } */

  section h2 {
    margin-top: 0.5;
  }



  #intro {
      align-self: center;
  }

  @media (max-width: 600px) {
    section {
      width: 100%;
 
    }
  }

/* button a */
  .button {
    margin-top: 19px;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.15rem;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 183, 218);
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e8d7e8;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }



  /* button c  */

  body{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }
  
  .wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 15px;
  }
  
  .link_wrapper{
    position: relative;
  }
  
  c{
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: rgb(59, 58, 58);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid rgb(255, 255, 255);
    transition: all .35s;
    margin-left: 130px;
    margin-top: 40px;
    
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #318dd8;
    transition: all .35s;
  }
  
  c:hover{
    width: 200px;
    border: 3px solid #65e1fd;
    background: transparent;
    color: #48f5f2;
  }
  
  c:hover + .icon{
    border: 3px solid #2d9dbd;
    right: -25%;
  }


  /* Home button */

  
  .btn {
    background-color: white; 
    border: none; 
    color: rgb(93, 91, 91); 
    padding: 1px 13px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 18px;
    height: 35px;
    border-radius: 10rem;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(188, 184, 184);
    border-radius: 10rem;
  }

  .btndownload {
    background-color: rgb(195, 192, 192); 
    border: none; 
    color: rgb(43, 41, 41); 
    padding: 1px 13px; 
    font-size: 0.9vw; 
    cursor: pointer; 
    height: 2vw;
    width: auto;
    border-radius: 10rem;
  }
  
  /* Darker background on mouse-over */
  .btndownload:hover {
    background-color: rgb(127, 122, 122);
    border-radius: 10rem;
  }

  .btnback {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: rgb(93, 91, 91); /* White text */
    padding: 1px 13px; /* Some padding */
    font-size: 1.1vw; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 1.5vw;
    height: 2.5vw;
    border-radius: 10rem;
  }
  
  /* Darker background on mouse-over */
  .btnback:hover {
    background-color: rgb(188, 184, 184);
    border-radius: 10rem;
  }


  .btnicons {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: rgb(93, 91, 91); /* White text */
    padding: 1px 5px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius: 2rem;
  }
  
  /* Darker background on mouse-over */
  .btnicons:hover {
    background-color: rgb(228, 190, 224);
    border-radius: 2rem;
  }


  /* flip box code */


  #university {
    font-family: Garamond, serif;
    border-width:3px; 
    border-style:solid; 
    border-color:#9e9999; 
    /* padding: 10px; */
    border-radius: 15px;
    color: white;
}


/* flip cards */

.flip-box {
    background-color: transparent;
    width: 25vw;
    height: 31vh;
    perspective: 1000px;
    position: relative;
    margin-left: 13%;
    margin-bottom: 35vh;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 254, 254);
    border-radius: 18px;
    width: 25vw;
    height: 31vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .flip-box-back {
    background-color: rgb(255, 255, 252);
    color: rgb(29, 28, 28);
    transform: rotateY(180deg);
    border-radius: 15px;
    width: 25vw;
    height: 31vw;
    
  }


  /* pop-up button */
  
  .buttonpopup {
    font-size: 3em;
    padding: 50px;
    color: rgb(83, 77, 77);
    background-color: #dfd0e8;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
   border-radius: 20%;
   width: 35vw;
   height: 30vw;
   font-family: Georgia, serif;
   border: 1px solid rgb(223, 197, 221);
    
  }
  .buttonpopup:hover {
    background: #776f78ed;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(27, 26, 26, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: rgb(224, 215, 226);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: rgb(63, 61, 61);
    font-family: Garamond, serif;
    
  }

  .popup h3 {
    margin-top: 0;
    color: rgb(115, 71, 108);
    font-family: Garamond, serif;
    font-size: 20px;
    
  }

  .popup p {
    margin-top: 0;
    color: rgb(42, 41, 41);
    font-family: Garamond, serif;
    font-size: 10px;
    
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #a599ad;
  }
  .popup .content {
    max-height: 70%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .popup{
      width: 70%;
    }
  }

  /* book flip */

  .containerscroll  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 625px;
    width: 750px;
    background: #4e4d4d;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin-top: 5px;
    
  }
  
  .contentscroll {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family:  palatino; 
    font-size: 25px;
    margin-top: 15px;
  }
  
  .containerscroll h1 {
    text-align: center;
    color:#aea9a9;
  }

  .containerscroll  h3 {
    color:#b8a3c0;
    font-family:  'Times New Roman', Times,serif;
    
  }

  .containerscroll p {
    color:#ffffff;
    font-family:  'Times New Roman', Times,serif;  
  }

  
  .flap {
    width: 100%;
    height: 100%;
  }
  
  .flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
    background-color: #696e70;
  }
  
  .flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    right: 0;
    background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
    background-color: #81898b;
  }
  
  .containerscroll:hover .flap::after {
    transform: translatex(375px);
  }
  
  .containerscroll:hover .flap::before{
    transform: translatex(-375px);
  }

  @media screen and (max-width: 1000px) {
    #intro h1 {
      font-size: 4.5em;
    }
  
    #about {
      display: flex;
      flex-direction: column;
      align-self: center;
      
    }
  
    #aboutme h2 {
      font-size: 40px;
    }
  
    #education-content {
      display: flex;
      flex-direction: column;
    
    }
  
    #education-header {
      margin-left:0;
      font-size: 8vh;
      margin-bottom: 40vh;
    }

    #education-header h1{
      font-size: 7vh;
    }
  
    
    .flip-box {
      margin-bottom: 8vh;
      width: 35vw;
      height: 40vh;
      
    }
    
    
    .flip-box-front {
      width: 35vw;
      height: 40vh;
    }
    
    .flip-box-back {
      width: 35vw;
      height: 40vh;
      
    }

    #education-content {
      
      font-size: 2vw;
  }
    
  
  }
